* {box-sizing: border-box;}

@font-face {
    font-family: GeoSans; /* set name */
    src: url(../fonts/geo-sans-light/GeosansLight.ttf); /* url of the font */
}

html {
    height: 100%;
    overflow: hidden;
}

header {
    position: relative;
    z-index: 100 !important;
    overflow: hidden;
    padding: 10px 10%;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: 50% auto;
}

header a {
    float: left;
    text-align: center;
    padding: 0 12px;
    line-height: 15px;
    border-radius: 4px;
    color: #003399;
}

.header-right a:hover {
    background-color: lightblue;
}

.header-drop a:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    position: relative;
    z-index: auto;
}

.header-right {
    font-weight: bold;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%; 
}

.header-drop{
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'GeoSans';
    color: #003399;
    position: relative;
}

.logo h1 {
    font-size: 300%;
}

p, li {
    font-size: 140%;
    line-height: 150%;
    color: #333;
}

.slide {
    position: relative;
    padding: 20px 10%;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
}

.slide:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    min-height: 22.5vw;
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title a {
    color: #6757b1;
}

.slide:nth-child(2n+1) .title {
    margin-left: 0;
    margin-right: auto;
    position: relative;
    z-index: 10 !important;
}

.slide:nth-child(2n) .title {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 10 !important;
}

#main_image {
    max-width: 100%;
    height: stretch;
    z-index: 0 !important;
}

@keyframes slideShow {
  0%, 33.33% {
    background-image: url(../img/home_image.webp);
  }
  33.34%, 66.66% {
    background-image: url(../img/ginhwa1.webp);
  }
  66.67%, 100% {
    background-image: url(../img/Shilhumshil1.webp);
  }
}

#main_image:before {
    animation: slideShow 15s infinite;
    transition: 3s ease-in-out infinite; /* Smooths out asset changes */
    transform: translateZ(-0.5px) scale(2);
    height: -webkit-fill-available;
    
}

#main_blurb {
    position: absolute;
    width : 32.5vw;
    height : 12.5vh;
    background: rgba(0, 0, 0, .5);
    right: 0px;
    bottom : 30vh;
    padding : 20px;
    align-content: center;
    text-align: right;
}

#main_blurb p {
    margin: auto;
    font-size: 200%;
    color: rgba(255, 255, 255, 1);
}

.showOff:has(img) {
    width: 100%;
    max-width: 37.5vw;
    height: stretch;
    display: flex;
}

.video{
    height: 22vw;
    aspect-ratio: 16 / 9;
}

.showOff > *{
    width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    height: max-content;
    /* transform: translateZ(1px) scale(1) rotate(0deg); */ 
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.showOff > iframe {
    height: -webkit-fill-available;
}

.slide:nth-child(2n+1) .showOff{
    position: absolute;
    right: 10%;
    margin: 0 auto 20px 0;
    padding: 0 10px;
    justify-content: center; /* Centers horizontally */
    /* align-items: center;     Centers vertically */
}

.slide:nth-child(2n) .showOff{
    position: absolute;
    left: 10%;
    margin: 0 auto 20px 0;
    padding: 0 10px;
    justify-content: center; /* Centers horizontally */
    /* align-items: center;     /* Centers vertically */
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

#slide1 {
    z-index: 0 !important;
}

#slide_end {
    background: lightblue;
    display: grid;
    grid-template-columns: 70% auto;
    z-index: 5 !important;
    align-content: center;  /* Vertical block-axis center */
}

.footer>*{
    margin: 2px;
}

img.socialmedia {
    width: 5%;
    align-content: center;
    margin: 2px;
    float: right;
}

.intro {
    position: relative;
    display: grid;
    margin: 0;
}

.intro>* {
    padding: 5px;
}

.intro img {
    max-height: 500px;
    transform: translateZ(.1px);
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.resume_body {
    position: relative;
    padding: 20px 10%;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
}

.art>h1,.art>p, .art>img{
    width: -webkit-fill-available;
    padding: 0 10%;
}

.art ul {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    padding: 0;
    anchor-scope: --my-carousel;
    anchor-name: --my-carousel;
    scroll-marker-group: after;

}
.art li {
    list-style-type: none;
    background-color: #eeeeee;
    flex: 1;
    scroll-snap-align: center;
}
.art li:nth-child(even) {
    background-color: #eeeeee;
}
.art li img{
    height: 50vw;
    padding: 5px;
}
.art ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}

.art ul::scroll-button(*):hover,
.art ul::scroll-button(*):focus {
    opacity: 1;
}

.art ul::scroll-button(*):active {
    translate: 1px 1px;
}

.art ul::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}
.art ul::scroll-button(left) {
    content: "◄" / "Previous";
}

.art ul::scroll-button(right) {
    content: "►" / "Next";
}
.art ul::scroll-button(*) {
    position: absolute;
    position-anchor: --my-carousel;
}
.art ul::scroll-button(left) {
    left: calc(anchor(left));
    top: calc(anchor(top));
    height: 50vw;
    width: 8vw;
}

.art ul::scroll-button(right) {    
    right: calc(anchor(right));
    top: calc(anchor(top));
    height: 50vw;
    width: 8vw;
}
.art ul::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    top: calc(anchor(bottom) - 70px);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.horizontal-scroll {
    width: 100vw;          /* Restricts the box width */
    overflow-x: auto;     /* Adds horizontal scrollbar when items overflow */
    overflow-y: hidden;
    white-space: nowrap;  /* Prevents child elements from breaking to the next line */
    height: 50vw;
}

.item {
    display: inline-block; /* Forces items to stay side-by-side */
    width: auto;
    height: 50vw;
    background-color: #f0f0f0;
}

.item>img {
    height: 50vw;
}

@media screen and (max-width: 800px) {
    header {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }
    
    header a {
        float: none;
        display: block;
        text-align: center;
        line-height: 30px;
    }
    
    .header-right {
        float: none;
    }
    #main_image:before {
        background-image: url(../img/home_image.webp);
        transform: translateZ(-0.5px) scale(2);
        height: -webkit-fill-available;
    }

    #main_blurb {
        width: 100vw;
        bottom: 50vh;
        -webkit-transform: translateZ(0);
    }

    #slide_end {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }

    #slide_end>*{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slide .title {
        width : 100%;
    }

    .slide:nth-child(n) .showOff{
        max-width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .video{
        width : -webkit-fill-available;
        height: -webkit-fill-available;
        aspect-ratio: 16 / 9;
    }

    img.socialmedia {
        margin: 2px;
        float: none;
    }

    .intro img {
        max-width: 100%;
        margin: auto;
    }

}

@media screen and (max-width: 500px) {
    .sub-header {
        display: block;
    }
}